---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import AgentSkill from "../components/AgentSkill.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import TechStack from "../components/TechStack.astro";
import Footer from "../components/Footer.astro";
import { getT, getLocale } from "../i18n";

const locale = getLocale(Astro);
const t = getT(locale);
---

<Layout title={t.meta.title} description={t.meta.description}>
	<Navbar t={t.nav} locale={locale} />
	<main>
		<Hero t={t.hero} />
		<AgentSkill t={t.agentSkill} />
		<Features t={t.features} />
		<HowItWorks t={t.howItWorks} />
		<TechStack t={t.techStack} />
		<Footer t={t.footer} />
	</main>
</Layout>
